*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color:lightblue;
    font-size: 23px;
}
nav {
    text-align: center;
    background: lightseagreen;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    background: seagreen;
}
.numberTwo, .numberThree{
    display: inline-flex;
    align-items: center;
    /* float work only in this case and text-align doesn't work.*/
}
.numberTwo p, .numberThree p{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: red;    
}
form fieldset{
    border: none;
}
.numberTwo div, .numberThree div{
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
    /* margin-top: 0;
     * margin-right: 0;
     * margin-bottom: 0;
     * marign-left: 15px;
     */
    /* padding: 0;
     * padding-top: 0;
     * padding-right: 0;
     * padding-bottom: 0;
     * padding-left: 0;
     */
}
h1{
    color: red;
    text-align: center;
    background: lightblue;
    border: 1px solid lightblue;
    margin-top: 30px;
}
p{
    border-radius: 0;
    display: block;
    text-align: center;
    background: lightblue;
    border: 1px solid lightblue;
    margin: 15px;
}
fieldset{
    border:1px solid lightskyblue;
    text-align: center;
    margin: 0;
}
div.numberOne label{
    color:blue;
    margin: 15px;
    display: block;
    text-align: center;
}
.numberTwo div label, .numberThree div label{
    color: blue;
    display:flex;
    text-align: left;
}
.numberOne #text{
    border: none;
    text-align: left;
    font-size: 20px;
}
#text:valid{
   border:none;
   border-bottom: 4px solid green;
}
#text:invalid{
    border:none;
    border-bottom: 4px solid red;
}
.send-button{
    text-align: center;
}
.send-button button{
    background: red;
    color: white;
    border: none;
    font-size: 30px;
    padding: 15px;
    margin: 15px;
}
.send-button button:hover{
    background: orange;
}
.send-button button:focus{
    background: green;
}
@media screen and (max-width:799px){
    form fieldset div.numberTwo  p, 
    form fieldset div.numberThree p,
    form fieldset div.numberOne label{
        font-size: 30px;
        display: block;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .numberOne #text{
       width: 90%;
       margin: 15px;
       font-size: 30px;
    }
    .numberTwo, .numberThree{
        display: block;
        margin: 0;
    }
    .numberTwo div, .numberThree div{
        display: flex;
        align-items: center;
    }
    nav a{
        display: block;
    }
}
